@charset "UTF-8";

@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  	font-family: 'TmoneyRoundWindRegular';
	text-align: center;
	margin: 0;
	padding: 0;
}
h1 {
	margin: 120px 0 40px 0;
}
button {
	padding: 5px 10px;
	background-color: #980000;
	color: white;
	border-color: gray;
	border-width: 1px;
	width: 380px;
	height: 35px;
	margin: 20px 4px;
	border: none;
}
button:hover {
	padding: 5px 10px;
	background-color: white;
	color: #980000;
	border-color: gray;
	border-width: 1px;
	width: 380px;
	height: 35px;
	margin: 20px 4px;
	border: none;
}