@charset "UTF-8";
@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'TmoneyRoundWindRegular';
}
body {
	background-image: url('images/sky02.jpg');
  	background-size: cover;
  	background-repeat: no-repeat;
}
h1 {
	font-size: 50px;
	margin-top: 50px;
	text-align: center;
}
select {
	border: 1px solid #ccc;
	border-radius: 3px;
	font: 13px;
	padding: 5px;
	width: 200px;
}
#signup {
	width: 55%;
	margin: auto;
}
#signup fieldset {
	border: 3px dashed #ccc;
	margin-bottom: 25px;
}
#signup fieldset:last-of-type {
	border: none;
	margin-bottom: 0px;
}
#signup label {
	float: left;
	font-size: 15px;
	width: 105px;
}
#signup ul { list-style: none; }
#signup li { line-height: 2.3; }
#signup input {
	border: 1px solid #ccc;
	border-radius: 3px;
	font: 13px;
	padding: 5px;
	width: 200px;
}
#signup input[type=button] {
	width: 130px;
}
.button{
	float: right;
	width: 100px;
	height: 35px;
}
.button:hover {
	background-color: black;
 	color: white;
}