@charset "UTF-8";

@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  	font-family: 'TmoneyRoundWindRegular';
	margin: 4px 0;
}
.controller {
	padding: 25px 0;
	margin: auto;
	width: 800px;
}
table {
	width: 800px;
	margin: 25px 0;
	padding: 20px;
	border-collapse: collapse;
}
tr {
	height: 65px;
}
button {
	padding: 5px 12px;
	background-color: #980000;
	color: white;
	border-color: gray;
	border-width: 1px;
	width: 380px;
	height: 30px;
	margin: 20px 4px;
	border: none;
}
button:hover {
	padding: 5px 12px;
	background-color: white;
	color: #980000;
	border-color: gray;
	border-width: 1px;
	width: 380px;
	height: 30px;
	margin: 20px 4px;
	border: none;
}
input {
	width: 300px;
	height: 20px;
}
p {
	color: gray;
	font-size: 13px;
}
#content {
	width: 800px;
	height: 400px;
	text-align: left;
}
#sbutton {
	height: 28px;
	width: 200px;
}
